# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [14]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = '/users/mac/downloads/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [15]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']#actual y in train data
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
print(df_train.reset_index().tail(3))#890rows
df = pd.concat([df_train,df_test])#df_trian + df_test on rows ( asix=0)
df.head()
print(df.reset_index().tail(3))#1308rows

     index  Pclass                                      Name     Sex   Age  \
888    888       3  Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889    889       1                     Behr, Mr. Karl Howell    male  26.0
890    890       3                       Dooley, Mr. Patrick    male  32.0

     SibSp  Parch      Ticket   Fare Cabin Embarked
888      1      2  W./C. 6607  23.45   NaN        S
889      0      0      111369  30.00  C148        C
890      0      0      370376   7.75   NaN        Q
      index  Pclass                          Name   Sex   Age  SibSp  Parch  \
1306    415       3  Saether, Mr. Simon Sivertsen  male  38.5      0      0
1307    416       3           Ware, Mr. Frederick  male   NaN      0      0
1308    417       3      Peter, Master. Michael J  male   NaN      1      1

                  Ticket     Fare Cabin Embarked
1306  SOTON/O.Q. 3101262   7.2500   NaN        S
1307              359309   8.0500   NaN        S
1308                2668  22.3583   NaN        C

In [17]:
#show data type
df.dtypes

Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [22]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
print(dtype_df,"\n")
dtype_df.columns = ["Count", "Column Type"]#change column name
print(dtype_df,"\n")
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

      index        0
0    Pclass    int64
1      Name   object
2       Sex   object
3       Age  float64
4     SibSp    int64
5     Parch    int64
6    Ticket   object
7      Fare  float64
8     Cabin   object
9  Embarked   object

      Count Column Type
0    Pclass       int64
1      Name      object
2       Sex      object
3       Age     float64
4     SibSp       int64
5     Parch       int64
6    Ticket      object
7      Fare     float64
8     Cabin      object
9  Embarked      object

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [25]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')#f'___' >>>f-strings
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?

In [50]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

# 並試著解釋那些發生Error的程式區塊的原因?
雖然沒遇上Error，但有些小問題出現在object_features。
object_features，並沒有mean，因為dtype，為object。
object_features，雖然有給出max，但其計算方式為字母的代表數值。object_feautres，的nunique值，也是基於相同數值產出。

In [49]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
"""
Your Code Here
"""
def observe(df):
    for i in df:
        print("mean\n",i.mean(),"\nmax\n",i.max(),"\nnunique\n",i.nunique(),"\n\n")

ob_data=[df[int_features],df[float_features],df[object_features]]
observe(ob_data)

mean
 Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64
max
 Pclass    3
SibSp     8
Parch     9
dtype: int64
nunique
 Pclass    3
SibSp     7
Parch     8
dtype: int64


mean
 Age     29.881138
Fare    33.295479
dtype: float64
max
 Age      80.0000
Fare    512.3292
dtype: float64
nunique
 Age      98
Fare    281
dtype: int64


mean
 Series([], dtype: float64)
max
 Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object
nunique
 Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類? 所以三大類特徵中，哪一大類處理起來應該最複雜?

>圖像資料。圖像資料可能可經過程式演算出二元特徵數值，如黑白雙色pixel可用1表示黑而0表示白，進而轉換成數值特徵。
>object類特徵處理起來最為困難，因為需用某些方法將其資料轉化為對程式碼而言有乘載信息的數據。